<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Config Client</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-2">
			<h1>Spring Config Client</h1>
			<p
				th:text="'your rate is:'+ ${rateamount}+',numbers of lanes is:'+${lanes}+',toll start time is:'+${tollstart}">
                   </p>
                     </div>
                     <div clas="cal-md-2"></div>
                     </div>
                     
                                                                                                                      

</body>

</html>